<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios_places_api_sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0748BA1A1D4A474200AD9536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0748BA2E1D4A474300AD9536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0748BA391D4A474300AD9536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
